<header class="min-h-screen flex justify-center items-center">
    <div class="space-y-8 w-full px-64 flex items-center">
        <section class="w-1/2 space-y-8">
            <div class="space-y-4">
                <h1 class="text-5xl font-semibold leading-snug">
                    Mantén el control de tus tareas con nuestra poderosa
                    aplicación EduTask
                </h1>
                <p class="text-lg text-neutral-500">
                    Gestiona tus tareas diarias de manera eficiente, establece
                    recordatorios y realiza un seguimiento de tu progreso.
                    Nuestra interfaz intuitiva hace que la productividad sea pan
                    comido.
                </p>
            </div>
            <div class="flex gap-4 items-center">
                <a
                    class="border border-1 text-xl bg-white text-black px-8 py-3 rounded-md hover:opacity-65 transition-opacity"
                    href="#join"
                >
                    Unete a la lista!
                </a>
                <span class="text-orange-500 text-xl italic"
                    >¡Más de {{ counter }} personas apuntadas!</span
                >
            </div>
        </section>
        <section class="flex justify-center w-1/2">
            <img src="/images/hero.webp" alt="Hero image" />
        </section>
    </div>
</header>
<main class="pb-72 space-y-24">
    <section class="flex flex-col items-center gap-12 min-h-[50vh]">
        <div class="text-center space-y-4">
            <h4 class="text-sm">Características Clave</h4>
            <h2 class="text-4xl font-semibold">Optimiza tu productividad</h2>
            <h3 class="text-lg text-neutral-500">
                Nuestra aplicación de tareas ofrece una serie de funciones
                poderosas para ayudarte a mantenerte organizado y enfocado.
            </h3>
        </div>
        <div class="flex items-center w-full max-w-3xl gap-12">
            <img
                class="w-96 h-auto"
                src="/images/calendar.svg"
                alt="calendar image"
            />
            <ul class="space-y-4">
                <li class="space-y-1">
                    <h5 class="text-lg font-semibold">Crear Tareas</h5>
                    <p class="text-sm text-neutral-500">
                        Nuestra aplicación de tareas ofrece una serie de
                        funciones poderosas para a ayudarte a mantenerte
                        organizado y enfocado.
                    </p>
                </li>
                <li class="space-y-1">
                    <h5 class="text-lg font-semibold">
                        Establecer Recordatorios
                    </h5>
                    <p class="text-sm text-neutral-500">
                        Nunca olvides una tarea importante con nuestro sistema
                        de recordatorios integrado.
                    </p>
                </li>
                <li class="space-y-1">
                    <h5 class="text-lg font-semibold">Grupos</h5>
                    <p class="text-sm text-neutral-500">
                        ¡No te enfrentes a tus responsabilidades solo! Crea y
                        únete a grupos de tareas donde la colaboración y la
                        eficiencia son la clave del éxito. Juntos, alcanzarás
                        tus metas más rápido y con más diversión.
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <section class="flex flex-col items-center gap-4" id="join">
        <h2 class="text-4xl font-semibold">
            Experimenta la aplicación de tareas definitiva
        </h2>
        <h3 class="text-lg text-neutral-500">
            Optimiza tus tareas diarias y aumenta tu productividad con nuestra
            aplicación de tareas intuitiva y llena de funciones.
        </h3>
        <h4 class="text-sm">
            Suscríbete para recibir una notificación cuando lancemos.
        </h4>
        <form
            action="/api/waitinglist/"
            method="POST"
            class="w-full flex justify-center gap-4"
        >
            <input
                aria-label="correo"
                class="border border-1 outline-none px-2 py-3 rounded-md text-lg w-full max-w-md"
                type="email"
                placeholder="Correo"
                name="email"
                required
            />
            <button
                class="border border-1 text-xl bg-white text-black px-8 py-3 rounded-md hover:opacity-65 transition-opacity"
            >
                Unirme
            </button>
        </form>
    </section>
</main>
